<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.send_a_msg">
    
    <queries>
            <package android:name="com.whatsapp" />

        <intent>
          <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />

          <data android:scheme="https" />
        </intent>
    </queries>
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
</manifest>
